{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 class="page-header">Création d'un nouveau set de fichiers</h3>
            <form role="form" class="form-horizontal" action="{{urlFor('addset')}}" method="POST">
                <input type="hidden" id="user_id" name="id">
                <div class="form-group">
                    <label for="data_set" class="col-sm-4 control-label">Nom du set</label>
                    <div class="col-sm-4">
                        <input type="text" class="input-sm form-control" name="data_set" id="data_set" placeholder="Nom du set">
                    </div>
                </div>
                <input class="btn btn-default" type="submit"/>
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
