<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="page-header">Welcome to SlimStarter {{ firstname }} {{ lastname }}</h2>

        <div class="col-lg-4">
            <h3>Créer un nouveau set</h3>
            <a href="{{ urlFor('createform') }}">Créer</a>
        </div>

        <div class="col-lg-4">
            <h3>Afficher les sets existants</h3>
            <a href="{{ urlFor('listset') }}">Liste des sets existants</a>
        </div>

        <div class="col-lg-4">
            <h3>Paramètres</h3>
        </div>

    </div>
</div>
