{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 class="page-header">Liste des formats dans notre set</h3>
            <ul class="list-group">
                {% for format in listformats %}
                    <li <li class="list-group-item"><a href=" {{urlFor('listfile', {'set': nameset,'metadataformat': format.metadata_format})}}"> {{ format.metadata_format }}</a></li>
                {% endfor %}
            </ul>

            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
