{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 class="page-header">Liste des fichiers dans notre dossier</h3>
            <ul class="list-group">
            {% for file in listFiles %}
                <li class="list-group-item"> {{ file.xml_path }} - {{ file.state }}</li>
            {% endfor %}
            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
