<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <img src="{{assetUrl}}images/spider.png" alt="xsanisty logo" class="navbar-logo">
        <a class="navbar-brand hidden-xs" href="{{siteUrl('/')}}">
            Application OAI-PMH
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links hidden-xs">

    </ul>
    <!-- /.navbar-top-links -->

</nav>
<!-- /.navbar-static-top -->
