{% extends 'master.twig' %}

{% block body %}
    <div id="wrapper">
        {{include('docs/topbar.twig')}}
        {{include('docs/sidebar.twig')}}
        <div id="page-wrapper" style="margin-top:50px">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">{{ title }}</h3>
                </div>
<div>
<h4>Le protocole OAI-PMH</h4>
<p>Un protocole simple et ouvert qui
<ul>
    <li>
    favorise l’interopérabilité et le signalement complémentaire des ressources culturelles sans duplication ni déchargement des documents numériques primaires</li>
    <li>accroît la visibilitésur le web de l’offre documentaire en abattant certaines barrières du web invisible en rendant possible le signalement de ressources non accessibles aux moteurs de recherche</li>
    <li>permet une gestion simple et automatisable des mises à jour par le fournisseur de service (mécanisme asynchrone, prévoit l’actualisation des liens, en répercutant les dernières modifications des réservoirs sources, sans copier à nouveau l’intégralité des données (la charge n’en étant que plus légère pour les serveurs)</li>
    <li>s’appuie sur un format de description générique (Dublin Core simple) pour les besoins transdisciplinaires (Dublin Core simple : format obligatoire, sans interdire des formats adaptés à des besoins plus spécialisés)</li>
</ul>
</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
