{% extends 'master.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="page-header">Liste des sets de l'utilisateur courant</h3>
            <ul>
            {% for set in listsets %}
                <li> {{ set.data_set }}</li>
            {% endfor %}
            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
